<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Job Listing</title>





    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->

    <link rel="stylesheet" href="/css/style.css">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Job Hopper</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">


          <ul class="nav navbar-nav navbar-right">

            <a class="btn btn-primary btn-lg" href="/users/logout" role="button">Logout</a>
          </ul>

          <ul>


        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="/users/profile">Main<span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="/users/profile/listing">Job Listings <span class="sr-only">(current)</span></a></li>
          </ul>

        </div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">






<h2 class="sub-header">Job Listings</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Job Id</th>
        <th>Company Name</th>
        <th>Sector</th>
        <th>Job Title</th>
        <th>Salary</th>
        <th>Description</th>
        <th>Application</th>

      </tr>
    </thead>
    <tbody>
      <% allListing.forEach(function(job) { %>

        <tr>
          <td><%= job.local.tag %></td>
          <td><%= job.id %></td>
          <td><%= job.local.recruiter.local.company %></td>
          <td><%= job.local.recruiter.local.sector %></td>
          <td><%= job.local.title %></td>
          <td><%= job.local.salary%></td>
          <td><%= job.local.description%></td>
          <td><form method="post" action="/users/profile/listing">
          <input type="hidden" name="jobid" value="<%= job.id %>">

          <button id="show_button" class="btn btn-primary btn-sm" href="" button type="submit">Apply</button></form></td>
        </tr>
        <% }) %>

    </tbody>
  </table>
</div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <script src="/js/script.js" charset="utf-8"></script>

    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
